.env
.env.local
*.secret

venv/
.venv/
env/
ENV/
build/
dist/
*.egg-info/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.cache/

*.log
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
htmlreport/
allure-results/
allure-report/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
